* {
    font-family: 'Lora', serif;
    color: black;
}

body {
    background-color: black;
}

#background{
    display: block;
    background-color: #ffffff;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    background-color: 0px 0px 0px #ffffff;
}
.main-page{
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 2px #000000;
}
#nav a:hover{
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 2px #000000;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 600; 
    box-shadow: 0px 1px #000000;
    width: 980px;
    height: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

#content img{
    margin: 15px auto 25px auto;
}

#title img{
    margin: 0 0 50px 0;
}

#title h1{
    margin: 50px 0px 0px 0px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px;
}

.icons{
    width: 25px;
    margin: 0px 30px 0px;
}

.icon-THM{
    width: 58px;
    margin: 0px 30px 0px;
}

.icons:hover{
    transform: scale(1.1);
}

.icon-THM:hover{
    transform: scale(1.1);
}

